.thumbnailImg {
  width: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.thumbnail-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 576px) {
  .thumbnailImg {
    width: 90px;
  }
  .thumbnail-btn {
    cursor: auto;
  }
}

@media (max-width: 320px) {
  .thumbnailImg {
    width: 50px;
  }
}
